.body__main {
	width: 100%;
	background-color: var(--GrisClaro);
}
.body__main--banner {
	width: 100%;
	background-color: var(--GrisOscuro);
}
.body__main--banner img {
	width: 100%;
}
.body__main__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.body__main__section--article {
	box-sizing: border-box;
	width: 90%;
	background-color: var(--Blanco);
	margin-bottom: 20px;
	position: relative;
}
.body__main__section--article img {
	width: 100%;
	border-bottom: 1px solid var(--GrisClaro);
}
.body__main__section--article div i {
	background-color: var(--Blanco);
	color: var(--Verde);
	border: 2px solid var(--Verde);
	border-radius: 50%;
	padding: 5px;
	font-size: var(--tamañoIconoPequeño);
	position: absolute;
	right: 20px;
	bottom: 90px;
}
.body__main__section--article p, h3 {
	padding: 0 20px;
}
.body__main__section--article h3 {
	color: var(--GrisOscuro);
}
.body__main__article--precio {
	margin-top: 20px;
	font-size: var(--tamañoPrecios);
	display: inline-block;
}
.body__main__article--descuento {
	font-size: var(--tamañoDescuentos);
	color: var(--Verde);
	display: inline-block;
}