.body__main__section--form--login {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.body__main__section--form--login input, .body__main__section--form--login button {
	width: 80%;
	margin-bottom: 30px;
	padding: 10px;
	border: none;
	border-radius: 4px;
}
.body__main__section--form--login button {
	background-color: var(--Celeste);
	color: var(--Blanco);
	transition: all 500ms;
}
.body__main__section--form--login button:hover {
	cursor: pointer;
	background-color: var(--CelesteOscuro); /* M04C07 - En nuestro login.html debemos lograr que cuando el mouse esté por encima del botón de envío del formulario, su color de fondo cambie a #0022AA. */
}